.notification {
  font-size: 1.2em;
  width: 100%;
  margin: auto;
  padding: 1.3em 2em;
  border-bottom: 1px solid #d1d1d1;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #ffffff;

  svg {
    font-size: 1.5em;
    margin-right: 0.8em;
    color: #02376d;
  }

  &:hover {
    background-color: #f0f0f0;
  }
}